body {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: black;
    color: white;
    overflow: hidden;
}

#vid-pre {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transform: translate(-50%, -50%);
}

p {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.indice {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: rgba(7, 7, 7, 0.338);
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    font-size: 0.9rem;
    z-index: 10;
}

li {
    display: inline-block;
    padding: 10px;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

/*   FOOTER  */

.footer {
    padding: 20px;
    text-align: center;
    display: grid;
    justify-items: center;
}

.footer-titulo h2 {
    display: inline-block;
    border-radius: 20px;
    font-size: 24px;
    margin: 0;
    text-shadow: 0px 12px 8px black;
}

.footer-links,
.footer-redes {
    margin: 15px 0;
    display: inline-block;
    border-radius: 20px;
}

.footer-links a,
.footer-redes a {
    display: inline-block;
    border-radius: 20px;
    color: red;
    text-decoration: none;
    margin: 0 10px;
}

.footer-redes a {
    font-size: 2em;
}

.footer-links a:hover {
    color: white;
    text-shadow: 0px 8px 8px red;
}

.footer-redes a:hover {
    color: white;
    text-shadow: 0px 8px 8px red;
}

.footer-parrafo {
    margin-top: 15px;
    display: inline-block;
    border-radius: 20px;
}

.logo-footer {
    width: 100px;
    height: auto;
    transition: transform 0.8s ease;
    padding: 20px;
    margin: 0;
    justify-content: center;
}

.logo-footer:hover {
    transform: translateY(-30px);
}