h1 {
    background: linear-gradient(180deg, black, white, white);
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    color: mediumpurple;
}

h3 {
    display: inline-block;
    font-size: 2em;
    background: linear-gradient(180deg, #21b1ff, blue);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

.bloque-grid {
    overflow: hidden;
}

.img-pre {
    transition: transform 2s ease;
}

.img-pre:hover {
    transform: scale(1.2);
}

.bloque-car {
    border: 1px solid mediumpurple;
}