body {
    background-color: black;
    color: white;
}

h1 {
    background: linear-gradient(180deg, black, white, white);
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    display: inline-block;
    background: linear-gradient(90deg, blue, red);
    -webkit-background-clip: text;
    color: transparent;
}

.bloque-car {
    border: 1px solid blue;
}