.inicio {
    background-color: white;
    border-radius: 10px;
}

h1 {
    background: linear-gradient(180deg, mediumpurple, mediumpurple, fuchsia);
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    color: mediumpurple;
}

.G16 {
    min-width: 500px;
}

.G16 p {
    width: 100%;
    max-width: 300px;
    min-width: 300px;
}

.bloque-des {
    min-width: 400px;
    box-shadow: 2px 0 0 mediumpurple, -2px 0 0 mediumpurple, 0 2px 0 rgb(1, 128, 255), 0 2px 0 rgb(1, 128, 255);
}

.inicio .negrilla {
    color: black;
}