h1 {
    background: linear-gradient(90deg, rgb(88, 0, 0), red);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3em;
    text-align: center;
    margin-top: 100px;
}

h2 {
    background: linear-gradient(90deg, blue, red);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.2em;
    text-align: center;
}

h3 {
    background: linear-gradient(90deg, blue, red, blue);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2em;
}

/*  ESPACIO  */

.espacio {
    width: 100%;
    height: auto;
}

.div1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    margin: 0;
}

.div1 img {
    width: 100%;
    max-width: 60%;
    height: auto;
}

.div1 p {
    width: 100%;
    max-width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.div2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
    margin: 0;
    margin-right: 0;
}

.div2 img {
    width: 100%;
    max-width: 60%;
    height: auto;
}

.div2 p {
    width: 100%;
    max-width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.bloque-flex .texto-car p {
    color: lightseagreen;
}

.bloque-flex .texto-car .txt-car {
    color: white;
}