body {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: black;
    color: white;
}

p {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.indice {
    background-color: rgba(7, 7, 7, 0.552);
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 0.9rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .indice ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .indice img {
    margin-right: 10px;
  }
  
  li {
    position: relative;
  }
  
  /* Enlaces generales */
  a {
    text-decoration: none;
    color: white;
    padding: 10px 0;
    display: inline-block;
    transition: color 0.3s ease;
  }
  
  .indice > ul > li > a:hover {
    color: red;
  }
  
  /* Submenús */
  ul .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -50%;
    background-color: #111;
    padding: 10px 0;
    list-style: none;
    display: none;
    min-width: 150px;
    z-index: 20;
  }
  
  .submenu li {
    display: block;
    text-align: center;
  }
  
  /* Submenús visibles */
  .dropdown:hover .submenu {
    display: block;
  }
  
  /* Efecto subrayado */
  .submenu a {
    position: relative;
    color: white;
    padding: 10px 10px;
    transition: color 0.5s ease;
  }
  
  .submenu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: red;
    transition: width 0.3s ease;
  }
  
  .submenu a:hover {
    color: red;
  }
  
  .submenu a:hover::after {
    width: 100%;
  }

/*  INICIO  */

h1 {
    font-size: 2em;
}

h5 {
    font-size: 1.5rem;
}

.titulos {
    display: grid;
    justify-items: center;
}

.imagen {
    display: grid;
    justify-items: center;
    width: 100%;
    height: auto;
}

.imagen img {
    width: 100%;
    max-width: 90%;
    height: auto;
    border-radius: 20px;
}

.img-pad {
    margin: 10% 0;
}

/* CONTENIDO */

.car {
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    gap: 40px;
    margin: 100px 0;
}

.bloque-p {
    display: grid;
    justify-items: center;
    width: 100%;
    max-width: 900px;
    min-width: 900px;
    height: auto;
    text-align: center;
}

.bloque-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
}

.bloque-flex2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: auto;
    gap: 20px;
}

.bloque-grid {
    display: grid;
    justify-items: center;
    width: 100%;
    height: auto;
}

.bloque-grid2 {
    display: grid;
    justify-items: center;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.bloque-grid2 img {
    border: 1px solid mediumpurple;
}

.bloque-grid3 {
    display: grid;
    justify-items: center;
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 1px solid mediumpurple;
}

.bloque-car {
    display: grid;
    justify-items: center;
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-radius: 5px;
}

.p-car {
    width: 100%;
    max-width: 550px;
    height: auto;
    text-align: center;
}

.car video {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.img-car {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.img-car img {
    width: 100%;
    max-width: 550px;
    height: auto;
    mask-image:
        linear-gradient(to right, black 90%, transparent),
        linear-gradient(to left, black 90%, transparent);
    mask-composite: intersect;
}

.p-car2 {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.img-car2 img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.cont-car3 {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: grid;
    justify-items: center;
}

.cont-car3 img {
    width: 100%;
    max-width: 500px;
    height: auto;
    color: #fff;
}

.texto-car {
    margin: 20px;
}

.texto-car p {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    color: mediumpurple;
    margin: 0;
}

.texto-car .txt-car {
    font-size: 1.6rem;
    color: white;
}

.deslizador {
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-width: 740px;
    height: auto;
    border-radius: 20px;
    overflow-x: auto;
    gap: 20px;
    text-align: center;
}

.bloque-des {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.img-des {
    width: 100%;
    max-width: 350px;
    height: auto;
    overflow: hidden;
}
.img-des img {
    max-width: 350px;
    height: auto;
}

.p-des {
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center; 
}

.deslizador2 {
    width: 100%;
    max-width: 1400px;
    height: auto;
    display: inline-flex;
    overflow-x: auto;
    gap: 20px;
    flex-wrap: nowrap;
}

.p-des2 {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.img-des2 {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: grid;
    justify-items: center;
}

.img-des2 img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

/*  INICIO */

.inicio {
    display: grid;
    justify-items: center;
    width: 100%;
}

.inicio img {
    margin-top: 100px;
    width: 100%;
    max-width: 90%;
    height: auto;
}


/*  FOOTER  */

.rog-footer {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    font-size: 0.8rem;
  }
  
  .top-row {
    margin-bottom: 10px;
  }
  
  .ruta-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .ruta-logo img {
    width: 20px;
    height: auto;
  }
  
  .middle-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .enlaces-principales a,
  .legales a {
    position: relative;
    display: inline-block;
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .enlaces-principales a::after,
  .legales a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: red;
    transition: width 0.3s ease-in-out;
  }
  
  .enlaces-principales a:hover::after,
  .legales a:hover::after {
    width: 100%;
  }
  
  .enlaces-principales a:hover,
  .legales a:hover,
  .social-icons i:hover {
    color: red;
  }
  
  .div_icon{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .social-icons i {
    font-size: 1rem;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .newsletter {
    text-align: right;
  }
  
  .newsletter p {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .newsletter input {
    padding: 5px;
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 200px;
    margin-right: 5px;
  }
  
  .newsletter button {
    background-color: red;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .divider {
    height: 2px;
    background-color: gray;
    margin: 20px 0;
  }
  
  .bottom-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .legales a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 0.75rem;
  }
  
  .idioma {
    font-size: 0.75rem;
  }
  
  .derechos {
    font-size: 0.75rem;
    text-align: right;
  }